<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration | Digital Quiz Hub</title>

  <!-- Bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Register CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/Register.css')}}">
</head>
<body>

<!-- ===== NAVBAR (SAME AS HOME) ===== -->
<nav class="navbar navbar-expand-lg navbar-light py-3">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/Index">Digital Quiz Hub</a>
  </div>
</nav>

<!-- ===== REGISTER SECTION ===== -->
<section class="register-section">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-md-6 col-lg-5">
        <div class="register-card">

          <h2 class="text-center mb-4">Create Account</h2>

          <form action="/RegisterUser" method="POST">
            <div class="mb-3">
              <label class="form-label">Full Name</label>
              <input type="text" id="name" name="FullName" class="form-control" placeholder="Enter your name">
            </div>

            <div class="mb-3">
              <label class="form-label">Email Address</label>
              <input type="email" id="emai" name="Email" class="form-control" placeholder="Enter email">
             <div id="emailError" class="error-text"></div>
            </div>

            <!-- PASSWORD WITH VIEW BUTTON -->
            <div class="mb-3 position-relative">
              <label class="form-label">Password</label>
              <input type="password" name="Password" id="password" class="form-control" placeholder="Create password" required>
              <span class="toggle-password" onclick="togglePassword('password')">👁</span>
            </div>

            <!-- CONFIRM PASSWORD WITH VIEW BUTTON -->
            <div class="mb-3 position-relative">
              <label class="form-label">Confirm Password</label>
              <input type="password" name="CPassword" id="confirmPassword" class="form-control" placeholder="Confirm password" required>
              <span class="toggle-password" onclick="togglePassword('confirmPassword')">👁</span>
              <div id="passwordError" class="error-text"></div>
            </div>


            <button type="submit" onclick="gett()" class="btn btn-primary w-100">
              Register
            </button>
          </form>

          <p class="text-center mt-3">
            Already have an account?
            <a href="/Login">Login</a>
          </p>

        </div>
      </div>

    </div>
  </div>
</section>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{url_for('static',filename='js/register.js')}}"></script>

</body>
</html>
